h3{
    align-items: center;
    margin: 0 auto;
}
/* Set background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
main{
   
    width: 80%;
    display: grid;
    grid-template-columns: 150px auto;
}
ul{
    display: flex;
    list-style: none;
}